*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 1vw;
}

body {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(195, 77, 150, 1) 47%, rgba(197, 77, 148, 1) 71%, rgba(252, 70, 107, 1) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

td:nth-child(odd):not(:last-child) {
	border-right: 2px rgb(5, 5, 5, 0.05) solid;
}


.table-header {
	font-weight: bold;
	font-size: 1vw;
	color: rgba(255, 255, 255, 0.915);
	background-color: rgb(29, 42, 42);
}

.table-header td:nth-child(odd) {
	border-top-left-radius: 10px;
}

.table-header td:nth-child(even) {
	border-top-right-radius: 10px;
}

.table-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	user-select: none;
}

table {
	border-collapse: collapse;
	height: 40vw;
	width: 65%;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
}

tr,
td {
	text-align: center;
}

tr:last-child td {
	font-weight: 500;
	text-align: center;
	font-size: 1vw;
	border-radius: 10px;
}

.average {
	font-size: 1vw;
}

td {
	width: 30vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

input {
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	background-color: transparent;
	transition: 100ms ease-in;
}

input:focus {
	outline: none;
}

input:disabled {
	color: black;
	font-weight: 500;
}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.8);
}

td:nth-child(even) {
	margin: 0;
}

input:hover {
	filter: contrast(1);
}

.excellent,
tr:has(td.excellent) {
	background-color: #B5EAD7;
}

.good {
	background-color: #E2F0CB;
}

.fair {
	background-color: #FFDAC1;
}

.poor {
	background-color: #FFB7B2;
}

.bad {
	background-color: #FF9AA2;
}

.gpa {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}